{# templates/product/new.html.twig #}
<h1>Adding a new product</h1>

{{ form_start(form) }}
    {# ... #}
    <input type="submit" name="btn" value="Create"/>
    {{ form_row(form.brochure) }}
{{ form_end(form) }}